/* GENERAL STYLING  */
/* basic reset - helps organize everything */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body {
 height: 100%
}

h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

/* general hover effects */
/* nav hover  */
.links a:hover{
    cursor: pointer;
    color:gray;
    text-decoration: underline;
}

/* footer nav hover */
li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* effect - hover when pressing more about me */
.home-txt-more:hover {
  text-decoration: underline;
}

/* hover effect for tags */
.work-tags p:hover {
  color:gray
}

  /* hover effect for icons */
  .work-icons i:hover{
    color: gray;
    cursor: pointer;
  }

    /* hover for small work projects */
    .work-proj:hover{
      transform: translateY(-2px);
      background-color: #fff;
    }

    /* hover effect for btn */
.form-btn:hover {
  color: #fff;
  background-color: #181818;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/* general fonts */
/* home + blowup */
@font-face {
    font-family: UrbanistBold;
    src: url(./fonts/Urbanist/static/Urbanist-Bold.ttf);
  }

  /* nav logo */
  @font-face{
    font-family: CursiveLogo;
    src: url(./fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf);
  }

  /*sub txt */
  @font-face{
    font-family: UrbanRegular;
    src: url(./fonts/Urbanist/static/Urbanist-Regular.ttf);
  }

  /* sub headers */
  @font-face{
    font-family: UrbanMedium;
    src: url(./fonts/Urbanist/static/Urbanist-Medium.ttf);
  }

/* all other text */
@font-face{
    font-family: SoraRegular;
    src: url(./fonts/Sora/static/Sora-Regular.ttf);
  }

  /* bold for emphasis */
  @font-face {
    font-family: SoraBold;
    src: url(./fonts/Sora/static/Sora-Bold.ttf);
  }

  /* footer blowup text */
  @font-face {
    font-family: footerCursive;
    src: url(./fonts/rengard-font/RengardfreeRegular-JR3MB.otf);
  }

  /* copyright text */
  @font-face {
    font-family: footerCursiveItalic;
    src: url(./fonts/rengard-font/RengardfreeItalic-GOE8a.otf);
  }

  /* NAV CONTENT */

/*  navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    width: 100%; 
    background-color: #e8e0db;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* logp */
.logo{
    margin-right: 900px;
    font-size: 40px;
    font-family: CursiveLogo;
}

/* no text dec on logo either */
.logo a {
    text-decoration: none;
    color: #000

}

/* links */
.links a { 
    font-size: 18px;
    margin-right: 50px;
    text-decoration: none;
    color: #000;
    font-family: SoraRegular;
}

/* line */
.line{
  background-color: #000;
  width: 100%;
  height: 0.5px;
}

/* ALL SECTIONS - 100% OF PAGE */
section {
    height: 100%; 
}

/* HOME CONTENT */
/* entire home section */
.zdc-home {
 background-color: #e8e0db;
}

/* home parent portion */
.home-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* image */
.home-img {
  width: 850px;
  height: 858px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  background-image: url(../images/zdc-home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* intro text - will fade in */
  .home-fade { 
    color: #181818;
    overflow: hidden; 
    font-size: 70px;
    letter-spacing: 5px;
    white-space: nowrap; 
    display: inline-block; 
    font-family: UrbanistBold;
    padding-right: 30px;
    text-align: center;
     animation: fadeIn 2s ease-in forwards; 
  }
  
  /* keyframes, for transiton (for opacity)*/
  @keyframes fadeIn {
    from { opacity: 0; } 
    to { opacity: 1; } 
  }
  
/* home text about */
.home-txt-sub{
  font-size: 35px;
  width: 700px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
font-family: UrbanRegular;
}

/* home small branding */
.home-branding {
font-size: 17.5px;
width: 700px;
margin: 0 auto;
text-align: center;
font-family: SoraRegular;
}

/*  more abt me */
.home-txt-more {
font-size: 16px;
margin-top: 220px;
margin-left: 600px;
font-family: SoraRegular;
}


/* skills portion */
.home-skills {
    font-size: 18px;
    margin-bottom: 50px;
    font-family: UrbanRegular;
}

/* skills "btns" */
.home-skills-btn {
    appearance: none;
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    will-change: transform;
  }
  
  /* hover effect for btn */
  .home-skills-btn:hover {
    color: #fff;
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
 
  /* WORK CONTENT*/
  /* work section */

/* intro text for section */
  .work-intro {
    font-family: UrbanMedium;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 50px;
  }
  /* work parent */
  .work-parent {
    display: flex;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 100px;

  }

  /* work text parent  */
  .work-txt-parent{
    margin-top: 150px;
  }

  /* work proj title */
  .work-txt-title{
  font-size: 40px;
   text-align: left;
  margin-bottom: 30px;
  }

  /* work proj descrip */
  .work-txt-descrip{
    font-size: 20px;
    width: 600px;
    margin-bottom: 30px;
  }

  /* tags */
  .work-tags{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 100px;
  }

/* basic margining... */
.work-tags p {
    margin-right: 30px;
}

  /* icons */
  .work-icons {
    margin-left: 170px;
    display: flex;
  }
  
  /* margins for icons */
  .icon{
    margin-top: 10px;
    margin-right: 50px;
  }

  /* work image parent */
  .work-img-parent{
    width: 500px;
    height: 300px;
  }

/* setup for all work images */
.work-set {
    margin-left: 200px;
    width: 600px;
    height: 430px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;

}
/* image 1 - booknook */
.work-img1 {
    background-image: url(../images/zdc-booknook.png);
}
/* image 2 - eventsy */
.work-img2{
    background-image: url(../images/zdc-eventsy.png);
}

/* image 3 - web dev */
  .work-img3{
    background-image: url(../images/zdc-webdev.png);
  }

  /* smaller proj parent */
  .work-small-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }

  /* actual proj */
  .work-proj {
    padding: 10px;
  }

  /* title for project */
  .work-small-title{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  /* small desc for proj */
  .work-small-txt-des{
    text-align: center;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* actual project */
  .work-proj{
    width: 450px;
    height: 380px;
    background-color: #e8e0db;
    border-radius: 20px;
    margin-right: 50px;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }

/* ABOUT CONTENT */
/* about section */
.zdc-about{
  padding-top: 150px;
}
/* about intro */
.about-intro {
  font-family: UrbanMedium;
  font-size: 40px;
  margin-bottom: 50px;
}

/* about parent */
.about-parent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* about text desc  */
.about-txt-par{
    color: #000;
    font-size: 20px;
    width: 750px;
    line-height: 2;
    font-family: SoraRegular;

}

/* about image parent */
.about-img-parent {
    width: 550px;
    height: 600px;
   
}

/* about image  */
.about-img{
    width: 550px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-image: url(../images/zdc-about.jpg);
}

/* break up abt and contact */
.break{
  font-family: UrbanMedium;
  font-size: 25px;
  padding-left: 70px;
}

/*  CONTACT CONTENT */

/* contact intro */
.contact-intro{
  font-family: UrbanMedium;
  font-size: 40px;
  padding-top: 90px;
  padding-left: 700px;
}


/* contact desc */
.contact-txt-desc{
    color: #000;
    font-size: 20px;
    width: 600px;
    line-height: 1.7;
    text-align: center;
    font-family: SoraRegular;

}

/* contact form */

/* overall form */
form {
  margin-top: 100px;
   margin-left: 500px;
   margin-bottom: 150px;
}

/* labels */
label {
    font-size: 20px;
    color: #000;
    display: block;
    margin-bottom: 10px;
    font-family: UrbanRegular;

}

/* inputs */
input {
    font-size: 17px;
    margin-bottom: 20px;
    width: 700px;
    height: 50px;
    padding-left: 10px;
    color: #000;
    border: none; 
    border-bottom: 2px solid #000; 
    background-color: transparent;
    font-family: UrbanRegular;

}

/* styling when in focus */
input:focus {
    border-bottom-color: #000; 
    outline: none; 
}

/* textarea */
textarea {
    margin-bottom: 20px;
    width: 700px;
    height: 100px;
    padding-top: 10px;
    border: 2px solid #000;
    background-color: #e8e0db;
    color: #000;
    padding-left: 10px;
    font-family: UrbanRegular;
    font-size: 17px;
}

/* when active - turn white */
textarea:focus {
  background-color: #fff;
}

/* button */
.form-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-left: 200px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  will-change: transform;
  font-family: UrbanRegular;
}

/* when active */
.form-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* FOOTER CONTENT */
/* actual footer section */
.zdc-footer {
    background-color: #181818;
}

/* blowup text - lets connect */
.footer-blowup{
  font-size:150px;
    color: #fff;
    width: 100%;
    margin-top: 50px;
   text-align: center;
   font-family: footerCursive;
    
}

/* thank you text in footer */
.footer-smalltext {
  color: #fff;
  margin-top: 40px;
  font-size: 20px;
  padding-left: 20px;
  font-family: UrbanRegular;

}

/* bottom portion of footer */
.footer-bottom {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}

/* styling for bottom portion of footer */
.location, .copy, .right{
  color: #fff;
  margin-top: 130px;
  font-size: 16px;
  font-family: UrbanRegular;
}

/* extra fixes to copy */
.copy {
  margin-right: 110px;
}
/* extra fixes to rights */
.right {
  padding-right: 25px;
}
/* language  */
.language {
  color: #fff;
  font-size: 16px;
  padding-left: 20px;

  font-family: UrbanRegular;
}

/* smaller dis flex for branding at top */
.footer-branding {
   display: flex;
   font-family: footerCursiveItalic;
}

/* basic styling for words in branding */
.foot-words {
  margin-right: 10px;
    color: #fff;
    font-size: 13px;
}

/* big links in footer */
.footer-link{
  font-size:50px;
  color: #fff;
  font-family: UrbanRegular;
  height: 50px;
  margin-top: 30px;
  padding-left: 20px;

}

/* removing decorations */
.footer-link a{
  text-decoration: none;
  color: #fff;
}